<html>
<head>
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
  <script>
    const CHALLENGE_DESCRIPTION = "Authorization challenge"
    const CHALLENGE_VALUE = "from getline"

    const msgParams = [{
      type: 'string',
      name: CHALLENGE_DESCRIPTION,
      value: CHALLENGE_VALUE
    }];

    web3.eth.getAccounts((err, accounts) => {
      console.log(err)
      console.log(accounts)
      var address = accounts[0]
      var params = [msgParams, address]
      var method = 'eth_signTypedData'
      web3.currentProvider.sendAsync({
        method,
        params,
        address,
      }, function (err, result) {
        if (err) return console.dir(err)
        if (result.error) {
          alert(result.error.message)
        }
        if (result.error) return console.error(result)
        console.log('PERSONAL SIGNED:' + JSON.stringify(result.result))

        window.location.replace('/{{ dao }}?result='+result.result)
      })
    })
  </script>
</body>
  